.fieldsWrapper {
  background: #ffffff;
  border-radius: 10px;
  width: 50%;
  margin: 3rem auto;
  padding: 2rem;
  text-align: left;
  max-height: 31rem;
  overflow-y: auto;
  position: relative;
}

.fieldHeaderContainer {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.1rem;
  letter-spacing: -0.02em;
  color: #1e2436;
  margin-bottom: 6px;
}

.fieldValue {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.01rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #354a7e;
}

.fieldValueWrapper {
  margin-bottom: 2rem;
}

.editButton {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
