* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.sanitizationBox {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 27.4rem;
  }

  
.percentSanitized {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #5d6e98;
  }
  
  .sanitizationComplete {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
  }
  