.authentication-wrapper {
    height: 100%;
    background: #F2F8FD;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.authentication-container {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
    min-width: 23rem;
    font-family: 'DM Sans', sans-serif;
}

.authentication-container div {
    margin-bottom: 0.5rem;
}

.sign-in-text {
    color: #1E2436;
}

.log-in-text {
    color: #354A7E;
    font-weight: 500;
}

.button-component-auth {
    background: #0061E4;
    border-radius: 6px;
    padding: 0.6rem;
    width: 100%;
    border: 0px;
    color: #FFFFFF;
    font-size: 0.8rem;
    cursor: pointer;
}