.header-wrapper {
  height: 4rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1001;
  background-color: white;
}

.header-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.188rem;
  line-height: 24px;
  color: #354c8f;
  margin-left: 0.4rem;
}

.header-wrapper-content {
  display: flex;
  align-items: center;
}

.login-display {
  border: solid 1px black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1.8;
  font-family: "DM Sans";
  font-size: 1rem;
}
