.subHeader-wrapper{
height:4rem;
justify-content: space-between;
}

.showBorders{
border-bottom: 2px solid #D6DEEA;
}

.header-content{
    flex-direction: column;
    text-align: left;
}

.header-styling{
font-family: 'DM Sans';
font-style: normal;
font-weight: bold;
font-size: 1.75rem;
letter-spacing: 8px;
text-transform: uppercase;
color: #1E2436;
}

.sub-style-header{
font-family: 'DM Sans';
font-style: normal;
font-weight: normal;
font-size: 0.8125rem;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: -0.02rem;
color: #577DF4;
margin-right:10px;
}

.button-display{
background: #0061E4;
border-radius: 6px;
border:0px;
padding:0.5rem;
font-family:'DM Sans';
font-style: normal;
font-weight: bold;
font-size: 0.75rem;
line-height: 18px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #FFFFFF;
}

.disable-button{
    pointer-events: none;
    opacity: 0.5;
}

.rightIconStyle{
    width:1rem
}