* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sanitizationBox {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  height: 27.4rem;
}

.checkimage {
  margin-bottom: 3rem;
  margin-top: 3rem;
  width:10rem;
  height:10rem;
}

.mainBox{
  margin: auto;
}

.percentSanitized {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #5d6e98;
}

.sanitizationComplete {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #0061e4;
  border-right: 1.1em solid #0061e4;
  border-bottom: 1.1em solid #0061e4;
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
