* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainProgressWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.progressWrappers {
  position: relative;
}

.blueBar {
  padding: 4px 0;
  width: 17rem;
  height: 0.5rem;
  background-color: #0061e4;
}

.greyBar {
  padding: 4px 0;
  width: 17rem;
  height: 0.5rem;
  background-color: #eef0f6;
}

.checkMarkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -20px;
  top: -6px;
  z-index: 1000;
}

.checkMarkWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -6px;
  left: 240px;
  z-index: 1000;
}

.checkMarkWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -6px;
  left: 240px;
  z-index: 1000;
}

.checkMark1 {
  width: 20px;
  height: 20px;
  background-color: #00a950;
  border-radius: 50%;
}

.checkMark2 {
  width: 20px;
  height: 20px;
  background-color: #0061e4;
  border-radius: 50%;
}

.greyMark {
  width: 20px;
  height: 20px;
  background-color: #eef0f6;
  border-radius: 50%;
}

.blueMark {
  width: 20px;
  height: 20px;
  background-color: #0061e4;
  border-radius: 50%;
}

.firstBarGrey {
  padding: 4px 0;
  width: 17rem;
  height: 0.5rem;
  background-color: #eef0f6;
}
